@model SmartParking.ContactUsEmail

@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="https://smartparkingteam.github.io/" target="_blank" class="brand-link">
        <img src="~/wwwroot/assets/img/logo.png" alt="AdminLTE Logo" class="brand-image img-square elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Smart Parking</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/wwwroot/dist/img/avatar.png" class="img-circle elevation-3" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block">@Session["userName"]</a>
            </div>

        </div>

        @Html.Partial("AdminSidebarMenu")
    </div>
    <!-- /.sidebar -->
</aside>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Email</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="modal-content">
                            
                                <div class="card card-primary">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="email-wrapper wrapper">
                                                <div class="message-body">
                                                    <div class="sender-details">
                                                        <img class="img-sm rounded-circle mr-3" src="~/wwwroot/dist/img/avatar.png" alt="">
                                                        <div class="details">
                                                            <p class="msg-subject">
                                                                @Model.Subject
                                                            </p>
                                                            <p class="sender-email">
                                                                From: @Model.SenderName / 
                                                            <a href="#">@Model.SenderEmail</a>
                                                            &nbsp;<i class="mdi mdi-account-multiple-plus"></i>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="message-content">
                                                        <p>@Model.Message</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>


                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->

                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
