@model SmartParking.UserBooking

@{
    ViewBag.Title = "Booking History";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="https://smartparkingteam.github.io/" target="_blank" class="brand-link">
        <img src="~/wwwroot/assets/img/logo.png" alt="AdminLTE Logo" class="brand-image img-square elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Smart Parking</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/wwwroot/dist/img/avatar.png" class="img-circle elevation-3" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block">@Session["userName"]</a>
            </div>

        </div>

        @Html.Partial("UserSidebarMenu")
    </div>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Booking Request</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">


                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Booking Request Data table</h3>                            
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Request Id</th>
                                            <th>Parking Slot No.</th>
                                            <th>Booking Date</th>
                                            <th>License Plate</th>
                                            <th>Status</th>
                                            <th>Active</th>
                                            <th width="7%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var form in ViewData["bookingHistory"] as List<UserBooking>)
                                        {
                                            <tr>
                                                <td><b style="color: maroon">@form.Id</b></td>
                                                <td>@form.SlotId</td>
                                                <td><i>@form.Date</i></td>
                                                <td>@form.LicensePlate</td>
                                                @if (form.Status == "B")
                                                {
                                                    <td>Booked</td>
                                                }
                                                @if (form.Status == "P")
                                                {
                                                    <td>Parked</td>
                                                }
                                                @if (form.Status == "I")
                                                {
                                                    <td>In Progress</td>
                                                }
                                                @if (form.IsActive)
                                                {
                                                    <td>Active</td>
                                                }
                                                @if (!form.IsActive)
                                                {
                                                    <td>Inactive</td>
                                                }
                                                <td>
                                                    @if (form.Status == "B" && form.IsActive)
                                                    {
                                                        <button class="btn btn-primary btn-xs" onclick="updateRecord(@form.Id)"><i class="fa fa-check"></i> Here</button>
                                                        <button class="btn btn-danger btn-xs" onclick="deleteRecord(@form.Id)"><i class="fa fa-trash"></i></button>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Request Id</th>
                                            <th>Parking Slot No.</th>
                                            <th>Booking Date</th>
                                            <th>License Plate</th>
                                            <th>Status</th>
                                            <th>Active</th>
                                            <th width="7%"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": [""]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
<script>
    $(function () {
        bsCustomFileInput.init();
    });

</script>
<script>
    function deleteRecord(id) {
        $.ajax({
            type: "POST",
            contextType: 'application/json; charset=utf-8',
            contentType: 'html',
            url: "/User/DeleteRecord/" + id,
            success: function () {
                window.location.reload();
            }
        });
    }

    function updateRecord(id) {
        $.ajax({
            type: "POST",
            contextType: 'application/json; charset=utf-8',
            contentType: 'html',
            url: "/User/UpdateRecord/" + id,
            success: function () {
                window.location.reload();
            }
        });
    }
</script>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}